# CODEOWNERS file for nbcon-v0
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/apps/*       @baylahnm
/packages/*   @baylahnm
/supabase/*   @baylahnm

